body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.access_multi_select > .selected-items {
    position: relative;
    padding: 2px 80px 2px 2px;
}

.access_multi_select > .selected-items > .placeholder {
    display: inline-block;
    padding: 6.5px;
}

.access_multi_select > .selected-items > button {
    position: absolute;
    height: 28px;
    width: 28px;
    background-color: transparent;
    top: 7px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.access_multi_select > .selected-items > button:hover {
    transform: scale(1.2);
}

.access_multi_select > .selected-items > button:nth-child(2) {
    background: url("assets/images/select-all.jpg") no-repeat center center;
    background-size: contain;
    right: 7px;
}

.access_multi_select > .selected-items > button:nth-child(3) {
    background: url("assets/images/deselect-all.jpg") no-repeat center center;
    background-size: contain;
    right: 40px;
}

.access_multi_select > .selected-items > .item {
    display: inline-block;
    background-color: #00BCD4;
    padding: 2px 5px 5px 17px;
    border-radius: 2px;
    color: #fff;
    margin: 2px;
}

.access_multi_select > .selected-items > .item > button {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-weight: 900;
    cursor: pointer;
    vertical-align: bottom;
}

.access_multi_select > .selected-items > .item > button:hover {
    color: #ccc;
}

.access_multi_select > .selected-items.expand {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.access_multi_select > .dropdown {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 0;
    -webkit-transition: .75s;
    -moz-transition: .75s;
    -ms-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
    overflow-y: hidden;
    padding: 0;
    border-top-width: 0;
    border-color: transparent;
}

.access_multi_select > .dropdown.expand {
    max-height: 250px;
    border-color: #ced4da;
}

.access_multi_select > .dropdown > .filter {
    position: relative;
}

.access_multi_select > .dropdown > .filter > input {
    width: 97%;
    border-radius: 2px;
    margin: 5px auto 0;
    border: none;
    box-shadow: 1px 2px 3px 1px rgba(181, 180, 180, 0.5);
}

.access_multi_select > .dropdown > .filter > button {
    position: absolute;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 900;
    color: #ccc;
    top: 5px;
    right: 15px;
}

.access_multi_select > .dropdown > .filter > button:hover {
    color: #aaa;
}

.access_multi_select > .dropdown > .items {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.access_multi_select > .dropdown > .items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.access_multi_select > .dropdown > .items::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.access_multi_select > .dropdown > .items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}

.access_multi_select > .dropdown > .items > .item {
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 10px;
}

.access_multi_select > .dropdown > .items > .item > .custom-checkbox > label {
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}

.access_multi_select > .dropdown > .items > .item > .custom-checkbox > label::before, .access_multi_select > .dropdown > .items > .item > .custom-checkbox > label::after {
    margin: 5px 10px;
}

.access_multi_select > .dropdown > .items > .item:hover {
    background-color: #607D8B;
    color: #fff;
}

.access_multi_select.rtl {
    direction: rtl;
    text-align: right;
}

.access_multi_select.rtl > .selected-items {
    padding: 2px 2px 2px 80px;
}

.access_multi_select > .selected-items > button:nth-child(2) {
    left: auto;
    right: 7px;
}

.access_multi_select > .selected-items > button:nth-child(3) {
    left: auto;
    right: 40px;
}
.access_multi_select.rtl > .selected-items > button:nth-child(2) {
    right: auto;
    left: 7px;
}

.access_multi_select.rtl > .selected-items > button:nth-child(3) {
    right: auto;
    left: 40px;
}

.access_multi_select.rtl > .dropdown > .filter > button {
    right: auto;
    left: 15px;
}

.access_multi_select.rtl > .dropdown > .items > .item > .custom-checkbox {
    padding: 0 1.5rem 0 0;
}

.access_multi_select.rtl > .dropdown > .items > .item > .custom-checkbox > label::before, .access_multi_select.rtl > .dropdown > .items > .item > .custom-checkbox > label::after {
    left: auto;
    right: 0;
}